.site{
    display: grid;
    grid-column-gap: 3em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    /*s*/
    grid-template-areas: 
        "head head head"
        "nava nava nava"
        "main main sidebar"
        "main2 main2 sidebar"
        "foot foot foot";
}

.head{
    grid-area: head;
    border-style: solid;
    text-align: center;
  
}

.nava{
    grid-area: nava;
    border-style: solid;
}

.main{
    grid-area: main;
    border-style: solid;
    
}

.main2{
    grid-area: main2;
    border-style: solid;
    
}

.sidebar{
    grid-area: sidebar;
    border-style: solid;
    
}

.foote{
    grid-area: foot;
    border-style: solid;
    
}


